:root {
	--grayBackground: rgba(177, 177, 177, 0.8) ;
	--whiteBackground: rgba(255, 255, 255, 0.4);
	--blackBackground: rgba(0, 0, 0, 0.9)
	--textShadowBlack: 1px 1px 2px black;
	--boxShadowBlack: 5px 5px 10px black;
}


* {
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

html{
	scroll-behavior: smooth;
}

body,
html{
	min-height: 100% ;
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 0.1rem;
}

body {
	width: 100%;
}

.main {
	min-height: 100%;
	background-color: gainsboro;
}

h1.name{
	font-size: 3.5rem;
}
.text1 h1{
	font-size: 3.5rem;
}
.date_container {
	font-size: 2rem;
}

.footer { 
	overflow: hidden;
	width: 100%;
	height: auto;
	margin: 0;
	display: flexbox;
	text-align: center;
	background-color: gray;
	color: black;
}

.footer span {
	font-weight: bolder;
}

@keyframes slide_left {
	0%{
		opacity: 0; 
		transform: translateX(-100%);
	};
	100%{
		opacity: 1; 
		transform: none;
	};
}

@keyframes slide_top {
	0%{
		opacity: 0; 
		transform: translateY(-1000%);
	};
	100%{
		opacity: 1; 
		transform: none;
	};
}

@keyframes slide_right {
	0%{
		transform: translateX(100%);
	};
	100%{
		transform: none;
	};
}

@keyframes appear {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes disappear {
	0%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes slide_bottom {
	0%{
		opacity: 0; 
		transform: translateY(100%);
	};
	100%{
		opacity: 1; 
		transform: none;
	};
}

@keyframes hide_left {
	100%{
		transform: translate3d(-100%, 0 , 0);
	};
}

@keyframes hide_right {
	0% {
		transform: none;
	}
	100%{
		transform: translateX(100%);
	};
}

@keyframes flip {
	0%{
		transform: none;
	}
	
	100%{
		transform: translateX(-1)
	}
}

@media only screen and (min-width: 100px){
	
#date {
	position: sticky;
	top: 50px;
	left: 0;
	width: 100%;
	height: auto;
	animation: slideBottom 0.5s linear;
	margin:0;
	padding: 0 ;
	font-family: "Brush Script MT", Brush Script Std, cursive;
	font-weight: bolder !important;
}

.date_container {
	margin-left: 5%;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 1.2rem;
}

#day,
#month,
#year {
	margin: auto 0.5rem auto 0px ;
	text-shadow: 2px 2px 5px gray;
}
.header {
	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--grayBackground);
	width: 100%;
	animation: slide_right 1s ease;
	z-index: 1000;
}

.header_left {
	visibility: hidden;
}

.header_name_appear {
	width: 320px;
	height: auto;
	padding: 5px 0;
	font-family: "Brush Script MT", Brush Script Std, cursive;
	animation: appear 1s linear;
	text-shadow: 4px 4px 4px dimgray;
}

h1.name {
	font-size: 2rem;
}
.header_name_appear a{
	text-decoration: none;
}

.name{
	padding: 0 6%;
	margin: 0;
	color: initial;
}

.fa-bars {
	position: fixed;
	top: 10;
	right: 10;
	font-size: 40px;
	visibility: visible;
	text-shadow: none;
	z-index: 11 !important;
	cursor: pointer;
}

.drop_down_left_on{
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	animation: slide_left 0.5s ease-in;
}

.drop_down_left_off {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	animation: hide_left 0.5s ease-out;
}

.drop_down_div {
	background-color: transparent;
	width: 40%;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	font-family: 'Titillium Web', sans-serif !important;
	transform: translateX(100%);
}

.drop_down_div_off {
	background-color: transparent;
	width: 30%;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	font-family: 'Titillium Web', sans-serif !important;
	animation: hide_right 0.2s linear;
}

.drop_down_div_on{
	background-color: transparent;
	width: 30%;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	font-family: 'Titillium Web', sans-serif !important;
	animation: slide_right 0.2s linear;
}

.drop_down_menu {
	float: right;
	padding-top: 2rem;
	width: 100%;
	height: 100%;
	background-color: gray;
}

.drop_down_menu span{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 5vw;
	margin: 5px 0;
	height: auto;
	width: auto;
	background-color: transparent;
	cursor: pointer;
	text-shadow: 1px 1px 1px black;
}

.drop_down_menu span:hover {
	background-color: darkgray;
	box-shadow: var(--boxShadowBlack);
}

.drop_down_menu span a{
	color: black;
	text-decoration: none;
}

.nav_bar {
	display: none;
}

.background_container{
	width: 100%;
	height: auto;
	background-image: url(../images/background7_big.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.main_background {
	background-color: var(--whiteBackground);
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.text1{
	margin: 5rem 0;
	align-items: center;
	justify-content: center;
	background-color: var(--grayBackground);
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	font-family: 'Titillium Web', sans-serif;
	animation: appear 0.5s ease-in-out;
	padding: 0 2rem;
}

.text1 h1 {
	margin-top: 3rem !important;
	text-align: center;
	font-size: 1.5rem;
}

#get_started_btn {
	background-color: transparent;
	font-size: 0.9rem;
	font-weight: bolder;
	border: 2px solid black;
	width: 10rem;
	height: auto;
	display: flex;
	margin-bottom: 3rem !important;
}

#get_started_btn a{
	padding: 10px;
	display: block;
	text-decoration: none !important;
	width: 100% ;
	height: 100%;
	color: black;
}

#get_started_btn:hover {
	border: 2px solid white;
	
}

#get_started_btn a:hover{
	color: white;
}

.tech_icon{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 1rem 0 1rem 0;
	background-color: white;
}

#tech_icon{
	display: block;
	width: 3rem;
}

.tech_icon::before,
.tech_icon::after{
	content: '';
	display: block;
	height: 0.2em;
	min-width: 40vw !important;
}
	
.tech_icon::before{
	background-image: linear-gradient(to right, rgba(141, 141, 141, 0), rgb(82, 82, 82));
	margin-right: 1vh;
}
.tech_icon::after{
	background: linear-gradient(to left, rgba(141, 141, 141, 0), rgb(82, 82, 82));
	margin-left: 1vh;
}

.content{
	box-shadow: var(--boxShadowBlack) !important;
	width: 100%;
	height: auto;
}

#animated_background{
	background-image: -webkit-linear-gradient(40deg, transparent 50%, lightgray 50% );
	opacity: 0;
}

.text2{
	background-image: -webkit-linear-gradient(40deg, darkgray 50%, transparent 50%);
	opacity: 0;
	display: flex;
}

.text2 h2{
	padding: 0 1rem 1rem 1rem;
	font-size: 0.9rem;
	text-align: justify;
	align-self: center;
	opacity: 0;
}

#my_photo {
	margin: auto 0.3rem;
	width: 6rem;
	height: auto;
	border-radius: 50%;
	border: 1px solid black;
	box-shadow: 2px 2px 12px black;
	opacity: 0;	
}

.content2 {
	width: 100%;
	height: auto;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	font-size: 0.6rem;
	background-image: linear-gradient(15deg, #e4e1e1 50%, #d4d4d4 50%);
}

.text3 {
	width: auto;
	height: auto;
	background-color:  darkgray;
	margin: 150px 0 300px  0px;
	color: white;
	box-shadow: var(--boxShadowBlack);
	opacity: 0;
	text-align: justify;
}

.text3_show {
	animation: slide_bottom 0.5s ease-in;
	opacity: 1;
}

.big_img1 {
	box-shadow: var(--boxShadowBlack);
	width: 100%;
	height: auto;
}

.text4 {
	width: 100%;
	height: auto;
	background-color: lightgray;
	align-self: flex-end;
	box-shadow: var(--boxShadowBlack);
	opacity: 0;
	text-align: justify;
}

.big_img2 {
	box-shadow: var(--boxShadowBlack);
	width: 100%;
	height: auto;
}

.lang_icons{ 
	margin-top: 2.50rem;
	border-top: 2px solid black;
	background-color: darkgray;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.lang_icons h3{
	font-family: "Brush Script MT", Brush Script Std, cursive;
	font-size: 1.5rem;
	margin-bottom: 0;
}}

.lang_icons img{
	width: 5rem;
	height: auto;
}



@media only screen and (min-width: 600px){
	.text1 h1 {
		font-size: 1.5rem;
		margin: 0 2rem 1rem 2rem;
		white-space: nowrap;
	}
	.text2 h2{
		padding-right: 1.5rem;
		font-size: 1.2rem;
	}
	#my_photo {
		margin: auto 10px;
		width: 8rem;
	}
	.text3,
	.text4 {
		padding: 0.5rem 1rem 0.5rem 1rem;
		font-size: 0.7rem;
		text-align: justify;
	}

}

@media only screen and (min-width: 900px) {
	.date_container {
		font-size: 1.3rem;
	}
	#drop_down_left,
	.fa-bars,
	#drop_down_div{
		display: none !important;
	}

	.nav_bar {
		display: block;
		position: fixed;
		top: 15px;
		right: 0;
		width: 640px;
		height: auto;
		font-size: 25px;
		text-shadow: 1px 1px 2px black;
		margin: 0;
	}
	.nav_bar li{
		display: inline-block;
		height: 60px;
		width: 150px;
		padding: 10px 0px;
		text-align: center;
		background-color: lightgray;
		transition: all 0.5s linear;
		cursor: pointer;
		border: 1px solid black;
		transform: none;
	}
	
	.nav_bar li:hover {
		box-shadow: var(--boxShadowBlack);
		background: linear-gradient(90deg, gray 10%, lightgray 90%)
		}
	
	.nav_bar li a{
		text-decoration: none;
		color: initial;
	}
	.text1 {
		width: 70%;
	}
	#get_started_btn {
		width: 12rem;
		height: 3.5rem;
	}
	#get_started_btn a{
		padding: 1.2rem 0 1.2rem 0;
	}
	.text2{
		display: flex;
		align-items: center;
	}

	#my_photo{
		width: 8.5rem;
	}

	.text3{
		display: flex;
		padding-left: 0;
	}
	.text4{
		display: flex;
		padding-right: 0;
	}
	.big_img1{
		max-width: 15rem;
		margin-right: 1rem;
	}
	.big_img2{
		max-width: 15rem;
		margin-left: 1rem;
		margin-right: 0;
	}
	
	.lang_icons img:hover{
		transition: transform .5s;
		transform: rotateY(180deg);
	}
}

@media only screen and (min-width: 1000px){
	.text2 h2{
		font-size: 1.5rem;
	}
	.text3,
	.text4 {
		font-size: 1rem;
	}
	.text3 h2,
	.text4 h2{
		margin: 2rem;
	}
	.big_img1{
		max-width: 20rem;
	}
	.big_img2{
		max-width: 20rem;
	}
}


@media only screen and (min-width: 1200px){
	.header_name_appear{
		width: 18.5rem ;
	}
	h1.name {
		font-size: 2.4rem;
	}
	.date_container{
		font-size: 1.5rem;
	}
	.text1 {
		margin: 10rem 0;
	}
	#my_photo {
		width: 9rem;
	}
	.text2 h2 {
		text-align: justify;
	}

	.big_img1,
	.big_img2 {
		max-width: 22rem;
	}
}
@media only screen and (min-width: 1500px){
	#my_photo{
		min-width: 12rem;
		margin-left: 4rem;
	}
	.text1 h1{
		margin-top: 5rem !important;
		margin-bottom: 2rem;
		font-size: 1.6rem;	
	}
	.text2 h2{
		font-size: 1.6rem;
		margin: 2rem 5rem 2rem 2rem;
	}
	.text3 {
		width: 90%;
		margin-top: 10rem;
		margin-left: 10%;
	}
	.text4{
		width: 90%
	}

	.text3 h2,
	.text4 h2{
		font-size: 1.8rem;
		margin: 2rem 2.5rem;
	}
	.big_img1,
	.big_img2{
		min-width: 22rem !important;
		max-width: 30rem !important;
	}
}

@media only screen and (min-width: 2000px){
		.text1 {
		margin-bottom: 20rem;
	}
		
	.text2{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	#my_photo{
		min-width: 15rem !important;
		margin: 1rem 0 1rem 15rem !important;
	}
	#intro1 {
		max-width: 40%;
		margin: 1rem 1rem 1rem 0 !important;
	}
}

@media only screen and (min-width: 2500px){
	#get_started_btn {
		border: 2px solid black;
		font-size: 1rem;
		font-weight: 600;
	}
	.content2{
		margin-top: 10rem;
	}
	.text3{
		width: 70%;
		float: right;
	}
	#my_photo{
		margin-left: 30rem !important;
	}
	.text3 h2{
		font-size: 1.5rem !important;
	}
	.text4{
		width: 70%;
	}
	.text4 h2{
		font-size: 1.5rem !important;
	}

}
@media only screen and (min-width: 3000px){
	.header_name_appear{
		width: 25rem;
		margin-left: 1rem;
	}
	h1.name {
		font-size: 3rem;
	}
	.date_container{
		font-size: 2rem;
		margin-left: 5rem;
	}

	.content{
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		
	}
	#my_photo {
		margin-left: auto !important;
		margin-right: auto !important;
		padding: 0 !important;
	}
	.text2 h2{
		font-size: 1.5rem !important;
	}
	.content2{
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
	.text3,
	.text4{
		margin: 5rem auto;
	}
	.lang_icons{
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}
}
