:root {
	--grayBackground: rgba(221, 221, 221, 0.8);
	--whiteBackground: rgba(255, 255, 255, 0.8);
	--blackBackground: rgba(0, 0, 0, 0.9)
	--textShadowBlack: 1px 1px 2px black;
	--boxShadowBlack: 15px 15px 15px black;
}


* {
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}


body,
html{
	min-height: 100% ;
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 0.1rem;
}

body {
	position: relative;
	border: 1px solid transparent;
	width: 100%;
}
/* 
.mainBody{

} */
.main {
	min-height: 100%;
	position: relative;
}


#date {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	font-size: 30px;
	margin: 0px;
	padding: 0;
	font-family: "Brush Script MT", Brush Script Std, cursive;
	font-weight: bolder !important;
	background-color: rgba(128, 128, 128, 0.9) !important;
	transform: rotate(90deg);
	transform-origin: 1.8% 1.8%;
	animation: slideBottom 0.5s linear;
}

.dateContainer {
	margin-left: 150px;
	display: flex;
	align-items: center;
	text-align: center;
}
#day,
#month,
#year {
	margin: auto 10px auto 0px ;
}

.mainBackground1{
	position: relative;
	width: 100%;
	height: auto;
	padding: 300px 0;
	background-image: -webkit-linear-gradient(60deg, gray 50%, lightgray 50%);
}
.header {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(128, 128, 128, 0.9);
	animation: slideRight 1s ease;
}


.headerLeft {
	visibility: hidden;
}


.headerNameAppear {
	float: left;
	width: auto;
	height: auto;
	padding: 0;
	font-family: "Brush Script MT", Brush Script Std, cursive;
	font-size: 2vw;
	color: black;	
	animation: appear 1s linear;
	background-color: rgba(255, 255, 255, 0.5);
	text-shadow: 4px 4px 4px dimgray;
}

.headerNameAppear a{
	text-decoration: none;
}

.name{
	padding: 0 20px;
	margin: 0;
	color: initial;
}


.dropDownLeftA {
	background-color: rgba(0, 0, 0, 0.3) !important;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	animation: slideLeft 0.5s ease-in !important;
}

.dropDownLeftB {
	background-color: rgba(0, 0, 0, 0.3) !important;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	animation: hideLeft 0.5s linear;
}


.dropDownDiv {
	display: none;
}
.dropDownDivOn{
	display: block;
	background-color: transparent;
	width: 30%;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0;
	z-index: 5;
	font-family: 'Titillium Web', sans-serif !important; 
}

.fa-bars {
	font-size: 50px;
	margin-right: 10px;
	margin-top: 10px;
	visibility: hidden;
	text-shadow: none;
	z-index: 6;
}

.dropDownMenu {
	float: right;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	background-color: gray;
}

.dropDownMenu span{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 5vw;
	margin: 15px 0;
	height: auto;
	width: auto;
	background-color: transparent;
	cursor: pointer;
	text-shadow: 1px 1px 1px black;
}


.dropDownMenu span:hover {
	background-color: darkgray;
	box-shadow: var(--boxShadowBlack);
}

.dropDownMenu span a{
	color: black;
	text-decoration: none;
}

.navBar {
	width: 480px;
	height: auto;
	float: right;
	font-size: 25px;
	text-shadow: 1px 1px 2px black;
	margin: 0;
}
.navBar li{
	display: inline-block;
	height: 60px;
	width: 150px;
	padding: 10px 0px;
	text-align: center;
	background-color: lightgray;
	transition: all 0.5s linear;
	transform: translateY(-60%);
	cursor: pointer;
	border: 1px solid black;
}

.navBar li:hover {
	transform: translateY(-10%);
	box-shadow: var(--boxShadowBlack);
}

.navBar li a{
	text-decoration: none;
	color: initial;
}

.photoContainer {
	transform: translate3d(-100%, 0 ,0)
}
.photoDiv{
	background-color: var(--grayBackground);
	width: 100%;
	height: auto;
	display: flex;
	font-family: 'Titillium Web', sans-serif;
	animation: slideLeft 0.5s ease-in-out;
}

.myPhoto {
	justify-content: center;
	border-radius: 50%;
	height: auto;
	width: 300px;
	max-width: 30%;
	margin: auto 10px auto 50px;
	box-shadow: var(--boxShadowBlack);
}

.text1 {
	width: 100%;
	height: auto;
	margin: 50px 20px;
	line-height: 70px;
	text-shadow: var(--textShadowBlack);
	line-height: normal;
}
.text1 h1{
	font-size: 3vw;
}

.text1 h3 {
	margin-top: 30px;
	width: 30%;
	font-size: 2vw;

}

.content {
	width: 100%;
	height: 2000px;
	background: url('./images/background7.jpg') center/cover no-repeat;
	box-shadow: 100px 100px 100px black;
}

.contentWhiteFilter {
	width: 100%;
	height: 2000px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--whiteBackground);
}

.text2show {
	position: relative;
	top: 0px;
	width: 80%;
	height: auto;
	color: black;
	animation: appear 1s linear;
	background-color: var(--grayBackground);
	text-align: center;
	text-shadow: var(--textShadowBlack);
	box-shadow: 5px 5px 5px black;
}
h2 {
	font-size: 40px;
	margin: 0 50px;	
	text-shadow: var(--textShadowBlack);
}


.content2 {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin: 0 !important;
	text-align: center;
	background-image: -webkit-linear-gradient(100deg, gray 50%, lightgray 50%);
}


.text3 {
	display: flex;
	width: auto;
	height: auto;
	padding: 10px;
	background-color:  darkgray;
	margin: 150px 150px 300px  0px;
	color: white;
	box-shadow: var(--boxShadowBlack);
	align-self: flex-start;
}

.text3show {
	animation: slideLeft 0.5s ease-in;
}
.text3show h2{
	margin: auto 30px;
}

.bigImg1 {
	padding: 0;
	margin: 0 5px 0 0;
	box-shadow: var(--boxShadowBlack);
	width: auto;
	height: auto;
	max-width: 40%;
}

.bigImg2 {
	padding: 0;
	margin: 0;
	box-shadow: var(--boxShadowBlack);
	width: auto;
	height: auto;
	max-width: 40%;
}


.text4 {
	display: flex;
	width: auto;
	height: auto;
	background-color: lightgray;
	padding: 10px;
	align-self: flex-end;
	margin: 400px 0 100px 150px;
	box-shadow: var(--boxShadowBlack);
}

.text4 h2{
	margin: auto 30px;
}
.langIcons{
	align-self: flex-end;
	background-color: lightgray;
	width: 100%;
	margin-top: 200px;
}

.langIcons img{
	width: 100px;
	height: auto;
}
.langIcons h3{
	font-family: "Brush Script MT", Brush Script Std, cursive;
	font-size: 30px;
	margin-bottom: 0;
}



.footer { 
	overflow: hidden;
	width: 100%;
	height: auto;
	margin: 0;
	display: flexbox;
	text-align: center;
	background-color: gray;
	color: black;
	
	
}

.footer span {
	font-weight: bolder;
}


@keyframes slideLeft {
	0%{
		opacity: 0; 
		transform: translate3d(-100%, 0 , 0);
	};
	100%{
		opacity: 1; 
		transform: none;
	};
}

@keyframes slideTop {
	0%{
		opacity: 0; 
		transform: translate3d(0, -1000% , 0);
	};
	100%{
		opacity: 1; 
		transform: none;
	};
}

@keyframes slideRight {
	0%{
		opacity: 0; 
		transform: translate3d(100%, 0 , 0);
	};
	100%{
		opacity: 1; 
		transform: none;
	};
}

@keyframes appear {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes disappear {
	0%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes slideBottom {
	0%{
		opacity: 0; 
		transform: translate3d(0, 0, 100%);
	};
	100%{
		opacity: 1; 
		transform: none;
	};
}
@keyframes hideLeft {
	
	100%{
		opacity: 0; 
		transform: translate3d(-100%, 0 , 0);
	};
}



@media screen and (max-width: 1440px) {
	#date {
		left: 10px;
	}
	.myPhoto{
		margin-left: 40px;
	}
	.text1{
		font-size: 1.5vw;
	}
	.text1 h3 {
		min-width: 35%;
	}
	.text3show {
		margin: 100px 0px 300px 0 !important;
	}
	.text3 {
		margin: 100px 0px 300px 0 !important;
	}
	h2 {
		font-size: 2vw;
		padding: 0.5vw ;
	}
	.bigImg1 {
		margin: 10 auto;
	}
	.bigImg2 {
		margin: 10 auto;
	}
	.text4 {
		margin: 100px 0 !important;
	}
}

@media screen and (max-width: 1200px){
	.header{
		background-color: transparent;
	}
	.headerNameAppear {
		position: relative;
		width: 40%;	
	}
	.navBar {
		display: none;
	}
	.fa-bars {
		position: fixed;
		top: 0px;
		right: 0px;
		font-size: 40px;
		visibility: visible;
		cursor: pointer;
		margin: 15px 15px 0 0;
		background-color: transparent;
		padding: 10px;
	}
	.text1 h3 {
		min-width: 50% !important;
	}

}

@media screen and (max-width: 900px){
	#date {
		left: 9px;
		font-size: 20px;
	}
	.dropDownMenu {
		padding-top: 75px;
	}

}

@media screen and (max-width: 600px){

	.text1 h3{
		min-width: 60% !important;
		margin-right: 0;
	}
	.fa-bars {
		font-size: 30px !important;

	}
	#date {
		left: 6px;
		font-size: 13px;
	}
	.dateContainer {
		margin-left: 80px;
	}

}

@media screen and (max-width: 500px){
	body {
		letter-spacing: 0.02em !important;
	}
	.headerNameAppear {
		width: 40%;
	}
	.headerNameAppear h1{
		padding: 0 10px;
	}
	.text1 h3 {
		min-width: 70% !important;
	}
	h2 {
		font-size: 10px !important;
		margin: 0 10px!important;
	}
	.text3show{
		margin-top: 200px;
		width: 100%;
	}
	.footer{
		font-size: 10px;

	}
	.langIcons img{
		width: 50px;
		height: auto;
	}
	.langIcons h3 {
		font-size: 5vw;
	}
	.mainBackground1 {
		padding: 100px 0px !important;
	}
	.fa-bars {
		margin: 10px 10px 0 0;
	}
	.dropDownMenu {
		padding-top: 50px;
	}
}


